{% extends "::base.html.twig" %}

{% block title %} {{parent()}} - A propos{% endblock %}

{% block header %}
	<div class="business-header urlimgabout">
       <!--   <img src="{{asset('img/appeloffreimg.jpg')}}" class="img-responsive"></img> -->
    </div>
{% endblock %}

{%block li2%}class="active"{% endblock %}
	
{% block body %}
		{{ parent()}}
		<h3>
			Qu'est-ce que Junior ESIEE ?
		</h3>
{% endblock %}