{% extends "::base.html.twig" %}

{% block title %} {{parent()}} - Accueil{% endblock %}

{%block li1%}class="active"{% endblock %}
	
{% block body %}
		{{ parent()}}
		<h2>
			Bienvenue !
		</h2>
{% endblock %}
