{% extends "::base.html.twig" %}

{% block title %} {{parent()}} - Prestations{% endblock %}

{%block li3%}class="active"{% endblock %}

{%block header %}
		<div class="business-header urlimgprestations">

			<div class="container">

				<div class="row">
					<div class="col-lg-12">
						<!-- The background image is set in the custom CSS -->
						<h1 class="tagline">Des prestations de qualité!</h1>
					</div>
				</div>

			</div>

		</div>
{%endblock%}
	
{% block body %}
			<div class="row">
				<h2>
				Les activités de Junior ESIEE
				</h2>
				
				
				<div id="menu-presta" >
					<ul class="nav nav-pills nav-stacked" role="tablist">
						<li class="active"><a href="#Competences" role="tab" data-toggle="tab">Domaines de compétences</a></li>
						<li><a href="#Etude" role="tab" data-toggle="tab">Déroulement d'une étude</a></li>
					</ul>
				</div>
				
				<div class="col-sm-12 tab-content tab-about">
					<div class="tab-pane active fade in" id="Competences">
					
					
						<div class="img-menu nav nav-pills nav-stacked hidden-xs" role="tablist">
							<a data-toggle="collapse" data-parent="#accordion" href="#elec" role="tab" class="a-menu" ></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#info" class="a-menu" ></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#managment" class="a-menu" ></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#bio"  class="a-menu"></a>
							<a data-toggle="collapse" data-parent="#accordion" href="#esiee" style="display:none" class="a-menu"></a>
						</div>	
						
						<div class="col-sm-12 tab-content tab-about">
							
							
							
							<div class="tab-pane active fade in " id="esiee">
								<h3>Des compétences variées</h3>
								<p class="text-justify">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
								</p>
								<p class="text-justify">
									Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
								</p>
								<p class="text-justify">
									Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
								</p>
								
								<h3>Ils nous ont fait confiance, pourquoi pas vous?</h3>
								<p class="text-justify">
									Vivamus vitae lobortis neque, id molestie neque. Suspendisse molestie justo et purus egestas, at mollis urna dignissim. Praesent eget lorem sit amet leo faucibus semper. Integer aliquet, libero ut accumsan consectetur, est velit egestas enim, a mollis velit sem at dolor. Donec nec egestas erat. Curabitur bibendum elit nec mauris dignissim sodales aliquam et nisi. Integer viverra mollis nisi condimentum ultricies. Ut congue nisi a mattis tempor. Cras mattis egestas orci, quis tristique mi tincidunt in. Morbi consequat venenatis aliquam. Ut facilisis malesuada tincidunt. Quisque eget venenatis tortor. Sed tempus augue mauris, sed imperdiet nisl viverra et. Phasellus vel tempus augue. Integer nec nunc purus. Curabitur dapibus vitae massa ut adipiscing.
								</p>
								<p class="text-justify">
									Sed eu purus magna. Mauris at diam sem. Praesent non bibendum risus. Proin augue sem, tristique id lorem vel, interdum gravida dui. Quisque leo nisi, sagittis sit amet nulla vel, dapibus aliquam arcu. Quisque convallis risus vitae semper luctus. Duis blandit bibendum tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel cursus libero. Nulla urna ipsum, porttitor nec tempor eu, congue vel ante. Aliquam eget vulputate neque, id tincidunt tortor.
								</p>
							</div>
					
							<!-- <div class="tab-pane " id="elec">
						
								<h2>Electronique</h2>
								
						
							</div>
						
							<div class="tab-pane" id="info">
						
								<p>Info</p>
						
							</div>
							
							<div class="tab-pane" id="managment">
						
								<p>Managment</p>
						
							</div>
							
							<div class="tab-pane" id="bio">
						
								<p>Bio</p>
						
							</div> -->
						 
						
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
									  <h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#elec" >
										 Electronique
										</a>
									  </h4>
									</div>
									<div id="elec" class="panel-collapse collapse">
										<div class="panel-body">
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											<p class="text-justify">
												Vivamus vitae lobortis neque, id molestie neque. Suspendisse molestie justo et purus egestas, at mollis urna dignissim. Praesent eget lorem sit amet leo faucibus semper. Integer aliquet, libero ut accumsan consectetur, est velit egestas enim, a mollis velit sem at dolor. Donec nec egestas erat. Curabitur bibendum elit nec mauris dignissim sodales aliquam et nisi. Integer viverra mollis nisi condimentum ultricies. Ut congue nisi a mattis tempor. Cras mattis egestas orci, quis tristique mi tincidunt in. Morbi consequat venenatis aliquam. Ut facilisis malesuada tincidunt. Quisque eget venenatis tortor. Sed tempus augue mauris, sed imperdiet nisl viverra et. Phasellus vel tempus augue. Integer nec nunc purus. Curabitur dapibus vitae massa ut adipiscing.
											</p>
											<div class="col-sm-4 col-xs-12">
												<h3>Micro-électronique</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Robotique et automatique</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Génie industriel</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
										</div>
									</div>
								</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#info">
												Informatique - Télécomunication
												</a>
											</h4>
										</div>
									<div id="info" class="panel-collapse collapse">
										<div class="panel-body">
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											<p class="text-justify">
												Vivamus vitae lobortis neque, id molestie neque. Suspendisse molestie justo et purus egestas, at mollis urna dignissim. Praesent eget lorem sit amet leo faucibus semper. Integer aliquet, libero ut accumsan consectetur, est velit egestas enim, a mollis velit sem at dolor. Donec nec egestas erat. Curabitur bibendum elit nec mauris dignissim sodales aliquam et nisi. Integer viverra mollis nisi condimentum ultricies. Ut congue nisi a mattis tempor. Cras mattis egestas orci, quis tristique mi tincidunt in. Morbi consequat venenatis aliquam. Ut facilisis malesuada tincidunt. Quisque eget venenatis tortor. Sed tempus augue mauris, sed imperdiet nisl viverra et. Phasellus vel tempus augue. Integer nec nunc purus. Curabitur dapibus vitae massa ut adipiscing.
											</p>
											<div class="col-sm-4 col-xs-12">
												<h3>Réseau</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Système d'information (WEB)</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-center">
													HTML
												</p>	
												<p class="text-center">	
													CSS
												</p>
												<p class="text-center">
													JavaScript
												</p>	
												<p class="text-center">
													PHP
												</p>
												<p class="text-center">
													Base de données
												</p>
												<p class="text-center">
													CMS
												</p>
												<p class="text-center">
													Wordpress
												</p>
												<p class="text-center">
													Symfony
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Signal et télécommunication</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#managment">
											Management
											</a>
										</h4>
									</div>
									<div id="managment" class="panel-collapse collapse">
										<div class="panel-body">
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											<p class="text-justify">
												Vivamus vitae lobortis neque, id molestie neque. Suspendisse molestie justo et purus egestas, at mollis urna dignissim. Praesent eget lorem sit amet leo faucibus semper. Integer aliquet, libero ut accumsan consectetur, est velit egestas enim, a mollis velit sem at dolor. Donec nec egestas erat. Curabitur bibendum elit nec mauris dignissim sodales aliquam et nisi. Integer viverra mollis nisi condimentum ultricies. Ut congue nisi a mattis tempor. Cras mattis egestas orci, quis tristique mi tincidunt in. Morbi consequat venenatis aliquam. Ut facilisis malesuada tincidunt. Quisque eget venenatis tortor. Sed tempus augue mauris, sed imperdiet nisl viverra et. Phasellus vel tempus augue. Integer nec nunc purus. Curabitur dapibus vitae massa ut adipiscing.
											</p>
											<div class="col-sm-4 col-xs-12">
												<h3>Marketing</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Etudes de marché</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Traduction de documents</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
										</div>
									</div>
								 </div>
								 <div class="panel panel-default">
									<div class="panel-heading">
									  <h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordion" href="#bio">
										  Biotechnologies
										</a>
									  </h4>
									</div>
									<div id="bio" class="panel-collapse collapse">
										<div class="panel-body">
											<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
											</p>
											<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
											</p>
											<p class="text-justify">
												Mauris id nunc rhoncus, luctus eros vitae, dapibus nibh. Phasellus lectus ligula, viverra vitae eleifend non, molestie non enim. Nam scelerisque erat sed semper ullamcorper. Aliquam eget tellus sed diam semper mollis. Vestibulum porta iaculis justo, ut luctus justo interdum in. Fusce vulputate risus non diam ornare tincidunt. Phasellus imperdiet imperdiet libero, sit amet malesuada quam lobortis sit amet. Vestibulum tincidunt tortor iaculis adipiscing vehicula. Donec egestas tempor iaculis. Nulla facilisi. Fusce imperdiet semper justo nec fringilla.
											</p>
											<p class="text-justify">
												Vivamus vitae lobortis neque, id molestie neque. Suspendisse molestie justo et purus egestas, at mollis urna dignissim. Praesent eget lorem sit amet leo faucibus semper. Integer aliquet, libero ut accumsan consectetur, est velit egestas enim, a mollis velit sem at dolor. Donec nec egestas erat. Curabitur bibendum elit nec mauris dignissim sodales aliquam et nisi. Integer viverra mollis nisi condimentum ultricies. Ut congue nisi a mattis tempor. Cras mattis egestas orci, quis tristique mi tincidunt in. Morbi consequat venenatis aliquam. Ut facilisis malesuada tincidunt. Quisque eget venenatis tortor. Sed tempus augue mauris, sed imperdiet nisl viverra et. Phasellus vel tempus augue. Integer nec nunc purus. Curabitur dapibus vitae massa ut adipiscing.
											</p>
											<div class="col-sm-4 col-xs-12">
												<h3>Energies renouvelables</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Bio industrie</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
											<div class="col-sm-4 col-xs-12">
												<h3>Ingénieurie des matériaux</h3>
												<p class="text-justify">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum turpis sapien, eget laoreet lacus aliquet nec. Sed tristique sit amet orci id gravida. Sed eu eros porta, volutpat ligula sit amet, viverra leo. Nulla accumsan, massa vitae condimentum euismod, tellus velit iaculis diam, at pharetra velit lacus id odio. Etiam ac libero erat. Duis eleifend non libero vel aliquam. In euismod hendrerit mauris eget ultricies. Etiam egestas diam nec metus ornare sollicitudin. Maecenas consequat vulputate rhoncus. Nunc tempus purus non blandit ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas felis purus, dignissim eu laoreet et, euismod eu ipsum.
												</p>
												<p class="text-justify">
												Cras rhoncus bibendum interdum. Ut varius eu enim eget elementum. Ut dolor sapien, hendrerit vel lorem sit amet, venenatis dapibus mi. Praesent vehicula posuere est. Suspendisse vel lectus vel diam tincidunt rhoncus non eu lacus. Aliquam porttitor a risus vel placerat. Donec ante libero, feugiat non magna porta, consectetur tempus ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas mattis lacinia lacus id facilisis. Quisque fringilla mollis metus ut gravida.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
					<div class="tab-pane" id="Etude">
					
						rersg
					</div>
					
					
				</div>
			</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script>
		$(function(){
			$(".a-menu").click(function() {
				$('html, body').animate({
					scrollTop: $($(this).attr("href")).parent().offset().top
				}, 1500);
			}); 
		});	
	</script>
	
{% endblock %}
	