{% extends "::base.html.twig" %}

{% block title %} {{parent()}} - Prestations{% endblock %}

{%block li3%}class="active"{% endblock %}
	
{% block body %}
		{{ parent()}}
		<h3>
			Voici un aperçu de nos prestations.
		</h3>
{% endblock %}