{% extends "::base.html.twig" %}

{% block title %} {{parent()}} - Presse / Communication{% endblock %}
	
{% block body %}

	<div class="row mentions">
		<div class="col-sm-12 col-xs-12">
			<h2>Mentions légales</h2></br>
			<h3>Généralités</h3>
			<hr/>
			<p>Junior ESIEE Paris est une association à but non lucratif régie par la loi française du 1er juillet 1901 et du décrêt du 16 août 1901.
				Son siège social se situe à : </br></br>
				ESIEE Paris</br>
				2 BD Blaise Pascal</br>
				BP99</br>
				93162 Noisy le Grand CEDEX </br></br>
				
				Junior ESIEE Paris est déclarée à la sous-préfecture du Raincy. </br>
				Numéro de SIRET : 348 301 243 000 13 </br>
				Code APE : 6202B </br>
				Junior ESIEE Paris est affiliée à la Confédération Nationale des Junior-Entreprises, et détient à ce titre le label "Junior-Entreprise".
			</p>	</br>
			
			<h3>Propriété intellectuelle</h3>
			<hr/>
			<p>Les données, textes, contenus, images, de ce site web, sont protégés au titre de la propriété Intellectuelle et des droits d'Auteurs. La récupération est autorisée, sous réserve d'une utilisation strictement personnelle, excluant l'usage à des fins publicitaires, commerciales, ou d'informations,
			et quelles soient conformes aux dispositions de l'article L.122-5 du Code de la Propriété Intellectuelle. A l'exception des dispositions précédentes, toute utilisation avec ou sans modification, toute représentation, toute reproduction, par quelque procédé que ce soit, et sur quelque support que ce soit, d'un fichier (ou donnée) complet ou partiel(le) du site,
			est strictement interdite sans avoir obtenu l'autorisation préalable de Junior ESIEE Paris. </br>

				<em>Art. L.111 et Art. L.112 : Code de la propriété Intellectuelle, Livre 1er, Titre 1er : Objet du Droit d'Auteur : Chapitre 1 : Nature du droit d'auteur - Chapitre 2 : Oeuvres protégées. </em>

				Nous souhaitons le respect pour nos informations et nos fichiers, et donc le non-vol. 
				<em>Art. L.121 : Droits moraux - Code de la propriété Intellectuelle, Titre 2 : Droits des Auteurs, Chapitre 2.</em>
			</p></br>
			
			
			<h3>Protection des données personnelles</h3>
			<hr/>
			<p>En application de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, chaque internaute dispose des droits d’opposition (article 38 de la loi), d’accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) des données le concernant.
			Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte ou l’utilisation, la communication ou la conservation est interdite.<br/>
			Pour exercer ces droits, vous pouvez nous contacter :
			<ul>
				<li>Par email (courriel) en utilisant le formulaire de contact du site web.</li>
				<li>Par courrier, à l'adresse : Junior ESIEE, 2 bd Blaise Pascal, BP99, 93162 Noisy le Grand CEDEX</li>
			</ul>	
			</p><br/>

			<h3>Marques</h3>
			<hr/>
			<p>Junior-Entreprise et JE sont des marques déposées par la Confédération Nationale des Junior-Entreprises.
			ESIEE Paris, ESIEE Management et ESIEE Engineering sont des marques déposées par la Chambre de Commerce et d'Industrie de Paris.
			Les appellations, marques et logos présents sur ce site web sont la propriété de leurs ayants droit respectifs.
			</p></br>
			
			<h3>Messagerie</h3>
			<hr/>
			<p>Ce message et ses éventuelles pièces jointes sont confidentiels et peuvent être déclarés comme tels ou protégés d’une autre manière contre la divulgation. Si ce message ne vous est pas destiné, il vous est interdit de copier le message ou une pièce jointe ou d’en divulguer le contenu à d’autres personnes. 
			Si vous avez reçu cet envoi par erreur, veuillez s.v.p. en informer immédiatement l’expéditeur et effacer le message, de même que ses pièces jointes, de votre système. Junior ESIEE Paris et ses administrateurs déclineront toute responsabilité en cas d’omissions ou d’erreurs dans ce message qui pourraient résulter de la transmission par courrier électronique ou 
			pour des dommages qui seraient la conséquence d’une modification non autorisée du contenu de ce message et de pièces jointes à ce dernier. 
			Junior ESIEE Paris et ses administrateurs ne garantissent pas que ce message est exempt de virus et déclineront toute responsabilité pour des dommages dus à un virus transmis avec lui.
			</p>
			
			<h3>Crédits</h3>
			<hr/>
			<div>Icons made by Freepik from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a></div>

				
		</div>		
	</div>
{% endblock %}