<th class="sortable">
    <a href="{{ options.href }}" class="{{ options.class }}">
        {{ title }}
        <i class="sort {% if sorted %}{% if direction == 'asc' %}ascending {% else %}descending {% endif %}{% endif %}icon"></i>
    </a>
</th>