<th class="sortable">
    <a href="{{ options.href }}" class="{{ options.class }}">
        {{ title }}
        <i class="fa {% if sorted %}fa-caret-{% if direction == 'asc' %}down{% else %}up{% endif %}{% endif %}"></i>
    </a>
</th>