{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_title %}
    {{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}
{% endblock %}

{% block sonata_profile_content %}
    <div>
        {% for block in blocks %}
            {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
        {% endfor %}
    </div>
{% endblock %}
