{% extends '::layout.html.twig' %}

{% block title 'Confirmation d\'avortion' %}

{% block content %}
	<div class="col-sm-12">
		<h1>Voulez-vous vraiment avorter "{{ project.title }}" ?</h1>
	    <a class="btn btn-lg btn-warning" href="{{ path('je_business_project_abort', {id:project.id}) }}">
	        Oui
	    </a>
	    <a href="{{ referer }}" class="btn btn-lg btn-primary">
	        Annuler
	    </a>
	</div>
{% endblock %}
