{% extends '::layout.html.twig' %}

{% block title 'Editer '~project.title %}

{% block content %}
	<h1 class="ui header">{{ block('title') }}</h1>

	{% include 'JuniorEsieeBusinessBundle:Project:form.html.twig' %}
{% endblock %}
