{% extends '::layout.html.twig' %}

{% block subtitle %}
    {{ project.title is not null ? 'Editer '~project.title : 'Editer Projet sans nom' }}
    {% import 'JuniorEsieeBusinessBundle:Project:helper.html.twig' as helper %}
    {{ helper.projectState(project) }}
    {% include 'JuniorEsieeBusinessBundle:Project:actions.html.twig' with {'edit': true} %}
{% endblock %}

{% block title %}
    {{ project.title is not null ? project.title :'Projet sans nom' }}
{% endblock %}

{% block content %}
	<div class="col-sm-12">
		{% include 'JuniorEsieeBusinessBundle:Project:form.html.twig' with {color: 'info'} %}
	</div>
{% endblock %}
