{% extends '::layout.html.twig' %}

{% block title 'Déposer un AP' %}

{% block content %}
	<h1 class="ui header">{{ block('title') }}</h1>

	{% include 'JuniorEsieeBusinessBundle:Project:form.html.twig' with {color: 'green'} %}
{% endblock %}
