{% extends '::layout.html.twig' %}

{% block title 'Déposer un AP' %}

{% block content %}
	<div class="col-sm-12">
		{% include 'JuniorEsieeBusinessBundle:Project:form.html.twig' with {color: 'success'} %}
	</div>
{% endblock %}
