{% form_theme form 'JuniorEsieeBusinessBundle:Form:form_div_layout.html.twig' %}
<form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    {{ form_widget(form) }}
    <button type="submit" class="ui button primary" style="float:right;"><i class="ui icon lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
