{% form_theme form 'JuniorEsieeBusinessBundle:Form:form_div_layout.html.twig' %}
<form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-info btn-lg pull-right"><i class="ui icon lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>
