@font-face {
	font-family: Chopin;
	src: url(../fonts/ChopinScript.otf);
}												/*include the Chopin Font using in the site*/

.MotdelEquipe{
	font-family: Chopin;
	font-size: 2.3em;
	text-align:right;
}												/*défini la forme d'un titre dans la page de présentation */

body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}


.business-header {
	height: 400px;
	background: center center no-repeat;
	background-size: cover;
}											/* define the header with the image in 1920*400 */

.urlimgoffre{
	background-image :url("../img/appeloffreimg.jpg");
}											/* definie l'url de l'image du header appel d'offre */

.urlimgabout{
	background-image :url("../img/team-about.jpg");
}											/* definie l'url de l'image du header a propos */

.imgteam{
	border-radius:10px;
	margin:auto;
}											/*definie la taille et laa position de l'image du CA*/

.urlimghome{
	background-image :url("../img/team-home2.jpg");
}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
}

footer {
	padding:15px 0;
	background-color: #223f62;
	color: white;
}

footer a{
	color: #eee;
}

footer a:hover{
	color: white;
}

.navbar {
	max-height: 12px;  /* Pour bloquer la taille du menu et pouvoir utiliser le active sans augment la hateur du menu sur la page*/
}

.navbar-inverse {
	background-color: #eee !important;
	border-color: #eee !important;
}

.navbar-inverse .navbar-nav > li > a {		/*  Couleur des liens dans le menu */
		color: #223f62 !important;
	}

@media (max-width: 767px) {				/* Optimisatoin du menu pour les résolutions mobiles */

	.navbar .container .navbar-collapse {
	background-color: #eee;
	}
	
	.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li.active > a,  .navbar-inverse .navbar-nav > li.active > a:hover {
		color: #223f62;
		background-color: #eee;
	}											/* Même couleur pour le hover et le active, car inutile en mobile */
	
	.navbar-inverse .navbar-nav > .active > a{
		border-bottom: 4px #223f62 solid;       /* Marque l'onglet actif avec un trait au dessus (défini dans l'affichage classique) et une en dessous (uniquement défini pour les petits affichages */
	}
		
} 


.navbar-brand img {
	width : 150px;  /* taille du logo dans le menu */
}

@media (min-width: 768px) {
	.navbar-nav > li > a:hover{
		border-bottom: 4px #223f62 solid;   /* sélecteur de page sur le menu pour les grandes résolutions avec une bordure en bas */
		padding-bottom: 11px;				/* padding de 11px (15-4) pour que la bordure soit à l'intérieur du menu */
	}
}

@media (min-width: 990px) {
	.navbar-inverse .navbar-nav > li > a {	
			padding-left : 15px !important;			/* Espace les liens pour les grandes résolutions */
			padding-right: 15px !important;
		}
}

@media (min-width: 768px) {
	.navbar-inverse .navbar-nav > li > a {	
			padding-left : 2px;			/* Espace les liens pour les grandes résolutions */
			padding-right: 2px;
		}
}


.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {  	 /* montre la page active */
	border-top: 4px #223f62 solid;					 /* Bordure en haut de l'onglet actif */
	background-color: transparent;			         /* Garde la couleur de fond de l'onglet défini par noir par Boostrap en active */
	padding: 11px 11px;						     	 /* On garde la même hauteur pour le lien actif dans le menu en enlevant 4px de padding top et bottom */
}	

.navside {
	margin-bottom: 30px !important;                  /* sépare le menu mobile du texte */
}

.form-horizontal{								    /* sépare le formulaire du texte précédent */
	margin-top : 40px;
}

@media (min-width: 768px) {					     
  .form-horizontal .control-label {			   
    text-align: left;							   /* Aligne les labels de formulaire à gauche sur écrans normaux */
  }
}

.copyright {							
	text-align : right;							  /* texte du copyright aligné à droite */
	}

.form-control:focus {
	border-color: #223f62;						/* couleur de l'ombre des cases actives de formulaire */
}

a {
	color: #223f62;								/* couleur des liens */
}

.acontact a:hover {
	outline: 0;									/* suppresion du soulignage  */
	font-style: oblique;
}

p{
	text-align:justify;							/* paragraphes justifiés */
}	

.form-group:hover label{
	text-decoration: underline;					/* Les soulignes les labels des cases formulaires survolées */
}

.remarque-contact{								/* Cadre pour une remarque dans la page contact */
	border: 2px #223f62 outset;
	border-radius: 4px;
	padding : 15px;
	background-color: #eee;
	margin-top : 10px;
	margin-bottom : 20px;
}

h2,h3 {											/* Sous-titres en bleu */
	color: #223f62;
}

.btn{											/* Mise en forme des boutons (couleur) */
	color: #223f62;
}
	 
.btn:hover,										/* Idem */
.btn:focus {
	background-color: #223f62;
	color : white;
	text-decoration: none;
}

.formfile {										/* Alignement du texte de bouton pour les résolutions normales */
	margin-left: 130px;
}

@media (max-width: 720px)  {
	.formfile{
		margin-left : auto;
	}
}
		
@media (min-width: 1920px) {				/* Paramètrage de l'emplacement des images du header */
	.business-header img{ 
		display: block;
		margin: 0 auto;
	}
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;							/* Couleurs de l'onglet actif dans un menu latéral */
  background-color: #223f62;
}
 
h3 { 	
	margin-top: 0px;
	margin-bottom: 15px;
}

.Sous-partie{
	margin-top: 20px;
	padding-left: 50px;
}

.navbar-inverse .navbar-toggle {		/* Couleur de fond du bouton de navigation mobile */
	background-color: #223f62;
}

@media (min-width: 768px) {			/* Mise en forme du block chiffre clé */
	.col-lg-4 h2{
		padding-left:20px;
	}
}

.active a .spinmenu{					/* Rotation de l'icone sur la page active */
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

.social-link{
	height: 50px;
	width:50px ;
	margin : 16px 6px;
	font-size: 2.2em;
	color: #fff;
}

@media (min-width: 669px) {
	.social-link:hover{
		font-size: 2.7em;
		text-decoration:none;
	}
}

.social-link i{	
	vertical-align: middle;
}

.links{
	margin-top: 10px;
	text-align:center;
}


@media (min-width: 992px) {
	.social-link{
		margin : 16px 10px 16px 16px;
	}
}

.fb{
	background-color : #0254A0;
}

.tw{
	background-color : #1AB2E8 ;
	font-size: 1.95em;
	padding-top: 3px;
	padding-left: 13px;
}

.tw:hover{
	font-size: 2.52em;
}


.vd{
	background-color : #C48E3E;
}

.genericon-viadeo {
	padding:auto;
	margin:auto;
	height: 23px;
	width: 19px;
	font-size: 0.71em;
}

.vd:hover .genericon-viadeo{
	padding:auto;
	margin:auto;
	height: 33px;
	width: 19px;
	font-size: 0.729em;
}

.chiffrescle{
	border-left: 2px #eee solid;
}
