@font-face {
	font-family: Chopin;
	src: url(../fonts/ChopinScript.otf);
}												/*include the Chopin Font using in the site*/

.Chopin{	
		font-family: Chopin;
}

.remarque-contact .Chopin{
	font-size: 2.3em;
	text-align:right;
}												/*défini la forme d'un titre dans la page de présentation */

body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
	background-color: #eee;
}

q{
	font-style: oblique;
}

.business-header {
	height: 400px;
	background: center center no-repeat;
	background-size: cover;
}											/* define the header with the image in 1920*400 */

.urlimgoffre{
	background-image :url("../img/appeloffreimg.jpg");
}											/* definie l'url de l'image du header appel d'offre */

.urlimgabout{
	background-image :url("../img/team-about.jpg");
}											/* definie l'url de l'image du header a propos */

.urlimgprestations{
	background-image :url("../img/Prestations.jpg");
}	

.imgteam{
	border-radius:10px;
	margin:auto;
}											/*definie la taille et laa position de l'image du CA*/

.imglogojunior{
	max-width:60%;
}

.urlimghome{
	background-image :url("../img/team-home3.jpg");
}

/* adjust the color and text shadow to optimize legibility once you have an image set - you can also change the vertical positioning if desired  */
.tagline {
	color: #fff;
	text-shadow: 0 0 10px #000;
}

footer {
	padding:15px 0;
	background-color: #223f62;
	color: white;
	margin-top: 20px;
}

footer a{
	color: #eee;
}

footer a:hover{
	color: white;
}

.navbar {
	max-height: 12px;  /* Pour bloquer la taille du menu et pouvoir utiliser le active sans augment la hateur du menu sur la page*/
}

.navbar-inverse {
	background-color: #FFC893   !important;
	border-color: #223f62  !important;
}

.navbar-inverse .navbar-nav > li > a {		/*  Couleur des liens dans le menu */
		color: #223f62 !important;
		transition: border 0.35s ease-in-out;
	}

@media (max-width: 767px) {				/* Optimisatoin du menu pour les résolutions mobiles */

	.navbar .container .navbar-collapse {
	background-color: #eee;
	}
	
	.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li.active > a,  .navbar-inverse .navbar-nav > li.active > a:hover {
		color: #223f62;
		background-color: #eee;
	}											/* Même couleur pour le hover et le active, car inutile en mobile */
	
	.navbar-inverse .navbar-nav > .active > a{
		border-bottom: 4px #223f62 solid;       /* Marque l'onglet actif avec un trait au dessus (défini dans l'affichage classique) et une en dessous (uniquement défini pour les petits affichages */
	}
		
} 


.navbar-brand img {
	width : 150px;  /* taille du logo dans le menu */
}

@media (min-width: 768px) {
	.navbar-nav > li > a:hover{
		border-bottom: 4px #223f62 solid;   /* sélecteur de page sur le menu pour les grandes résolutions avec une bordure en bas */
		padding-bottom: 11px;				/* padding de 11px (15-4) pour que la bordure soit à l'intérieur du menu */
	}
}

@media (min-width: 992px) {
	.navbar-inverse .navbar-nav > li > a {	
			padding-left : 15px !important;			/* Espace les liens pour les grandes résolutions */
			padding-right: 15px !important;
		}
}

@media (min-width: 768px) {
	.navbar-inverse .navbar-nav > li > a {	
			padding-left : 2px;			/* Espace les liens pour les grandes résolutions */
			padding-right: 2px;
		}
}


.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {  	 /* montre la page active */
	border-top: 4px #223f62 solid;					 /* Bordure en haut de l'onglet actif */
	background-color: transparent;			         /* Garde la couleur de fond de l'onglet défini par noir par Boostrap en active */
	padding: 11px 11px;						     	 /* On garde la même hauteur pour le lien actif dans le menu en enlevant 4px de padding top et bottom */
}	

.navside {
	margin-bottom: 30px !important;                  /* sépare le menu mobile du texte */
}

.navbar-brand{
	margin-top: -7px;
}

@media (min-width: 768px) {
	#menu{
		width:169px;
	}
	
	#menu.affix {
		top: 100px;
	}
}


@media (max-width: 768px) {
	#menu.affix {
		position: relative;
	}
}

@media (min-width: 1200px) {
	#menu{
		width:250px;
	}
}


.form-horizontal{								    /* sépare le formulaire du texte précédent */
	margin-top : 40px;
}

@media (min-width: 768px) {					     
  .form-horizontal .control-label {			   
    text-align: left;							   /* Aligne les labels de formulaire à gauche sur écrans normaux */
  }
}

.copyright p{	
	text-align:center;
}

@media (min-width: 768px) {	
	.copyright p{							
		text-align : right;							  /* texte du copyright aligné à droite */
		}
}
	
.copyright hr{
	margin-top:30px;
	margin-bottom:15px;
}

@media (max-width: 991px) {
	.copyright hr{
	margin-top:50px;
	margin-bottom:15px;
	}
}

@media (max-width: 768px) {	
	footer hr{
		display:none;
	}
	
	footer{
		text-align:center;
	}
	
	.copyright{
		margin-top: 23px;
	}
}
	
.form-control{
	transition: 0.8s ease-in-out;
}

.form-control:focus {
	border-color: #223f62;						/* couleur de l'ombre des cases actives de formulaire */
	transition: 1s ease-in-out;
}

a {
	color: #223f62;								/* couleur des liens */
}

.acontact a:hover {
	outline: 0;									/* suppresion du soulignage  */
	font-style: oblique;
}

p{
	text-align:justify;							/* paragraphes justifiés */
}	

.form-group:hover label{
	text-decoration: underline;					/* Les soulignes les labels des cases formulaires survolées */
}

.remarque-contact{								/* Cadre pour une remarque dans la page contact */
	border: 3px solid;
	border-color: #ed7708 #ed7708  #0096aa #0096aa;
	border-radius: 4px;
	padding : 15px;
	background-color: #dbdbdb;
	margin-top : 10px;
	margin-bottom : 20px;
}

h2,h3 {											/* Sous-titres en bleu */
	color: #223f62;
}

.btn{											/* Mise en forme des boutons (couleur) */
	color: #223f62;
	transition: 0.5s ease-in-out;
}
	 
.btn:hover,										/* Idem */
.btn:focus {
	background-color: #223f62;
	color : white;
	text-decoration: none;
	transition: 0.5s ease-in-out;
}

.formfile {										/* Alignement du texte de bouton pour les résolutions normales */
	margin-left: 130px;
}

@media (max-width: 720px)  {
	.formfile{
		margin-left : auto;
	}
}
		
@media (min-width: 1920px) {				/* Paramètrage de l'emplacement des images du header */
	.business-header img{ 
		display: block;
		margin: 0 auto;
	}
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	color: #fff;							/* Couleurs de l'onglet actif dans un menu latéral */
	background-color: #223f62;
	transition: 0.35s ease-in-out;
}
 
h3 { 	
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 30px;
}

hr{
	border-color : #FFC893;
}

#Pres h4{
	margin-top: 20px;
	padding-left: 50px;
	font-size : 1.7em;
	font-style : oblique;
}

.navbar-inverse .navbar-toggle {		/* Couleur de fond du bouton de navigation mobile */
	background-color: #223f62;
}

@media (min-width: 768px) {			/* Mise en forme du block chiffre clé */
	.chiffrescle h2{
		padding-left:20px;
	}
}

.active a .spinmenu{					/* Rotation de l'icone sur la page active */
	-webkit-animation: spin 2s infinite linear;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}

.social-link{
	height: 50px;
	width:50px ;
	font-size: 2.2em;
	color: #fff;
	transition: 0.15s ease-in-out;
	display: inline-block;
	opacity : 0.65;
}

/* @media (min-width: 669px) {
	.social-link:hover{
		font-size: 2.7em;
		text-decoration:none;
		transition: 0.35s ease-in-out;	
		margin: 29px 24px 1px 0px;
	}
	
	.tw:hover{
		font-size: 2.52em;
	}
	
	.vd:hover .genericon-viadeo{
		margin:auto;
		height: 33px;
		width: 19px;
		font-size: 0.729em;
	}

} */

.social-link i{	
	vertical-align: middle;
	margin-left: -2px;
}

.social-link:hover {	
	opacity : 1;
	
}

.links{
	text-align:center;
	padding-left: 5px;
	margin-top: -10px;
}




@media (min-width: 768px) and (max-width: 991px) {
	.social-link{
		margin: 32px 16px 1px 4px;
	}
}

@media (min-width: 496px) and (max-width: 767px) {
	.social-link{
		margin:29px 7px 1px 10px;
	}
}

@media (max-width: 496px) {
	.social-link{
		margin: 4px 37px 4px 2px;
	}
}

@media (min-width: 991px){
	.social-link{
		margin : 16px 24px 16px 16px;
	}
	
	.fb{
		margin-left : -36px;
	}
	
	.gplus{
		margin-left : -36px;
	}
	
}


.fb{
	background-color : #0254A0;
}

.tw{
	background-color : #1AB2E8 ;
	font-size: 1.95em;
	padding-top: 3px;
	padding-left: 18px; 
}


.vd{
	background-color : #C48E3E;
}

.gplus, .mél{
	background-color : #DA4836;
}

.tw i{
	margin-left: -13px;
	margin-top: -2px;
}

.gplus i{
	margin-left: 2px;
	margin-top: 7px;
}

.mél i{
	margin-left: -2px;
}

.lk{
	background-color : #007BB6;
}

.genericon-viadeo {
	margin:auto;
	height: 23px;
	width: 19px;
	font-size: 0.73em;
}

.social-link:hover .genericon-viadeo {
	text-decoration:none;
}

.chiffrescle{
	border-left: 2px #FFC893 solid;
}

.CA{
	border: 3px solid;
	border-color: #ed7708 #ed7708 #0096aa #0096aa;
	border-radius: 5px;
	background-color: #dbdbdb;
	margin-bottom : 30px;
}

.CA .Chopin{
	font-size:2.40em;
	text-align:center;
}

@media (max-width: 899px) {
	.CA .Chopin{
		font-size:3em ; 
	}
}

@media (min-width: 900px) {
	.RDI{
		font-size:2.175em !important;
	}
}

.CA .nom-CA, .CA .poste-CA{
	text-align:center;
}

.nom-CA{
	font-size: 1.15em;
	font-weight:bold;
}

.poste-CA{
	font-size: 1.10em;
}

.imgCA{
	margin-left: auto;
	margin-right: auto;
	border: 5px outset #223f62;
	margin-bottom: 5px;
	border-radius: 50%;
	max-height: 170px;
	max-width: 170px;
}


#Charges div{
	border: 3px solid;
	border-color: #ed7708 #ed7708 #0096aa #0096aa;
	border-radius: 5px;
	background-color: #C5BFBF;
	margin-bottom : 30px;
}

#Charges .Chopin{
	font-size: 2.5em;
	text-align:center;
}

#Charges ul{
	text-align:center;
	list-style-type: none;
	font-size: 1.4em;
	padding-left: 0;
}

.partnertype{
	background-color: #70CDD8;
	border-radius : 12px;
	padding : 10px 18px;
	margin : 20px 0 ;
}

#Partenaires .col-sm-12:nth-child(2n+1) .partnertype{
	background-color: #FFBC7C;
}


#Partenaires h3, #Equipe h3, #Com h3, #Pres h3, #menu-presta{
	text-align:center;
}

.alten{
	min-width: 100px;
	margin-top:17%;
	margin-bottom:15%;
}

.bnp{
	max-width: 228px;
	margin-top:13%;
	margin-bottom:15%;
}

.ey{
	margin-top: -7px !important;
	max-width: 180px;
	margin-left: 47px !important;
}

.Jubs{
    max-width: 251px;
}

#Partenaires div:hover > a{
	text-decoration : underline;
}

.formserror ul{
	list-style-type:none;
	color: red; 
	font-style:oblique;
}

.img-esiee{
	max-width: 249px;	
}

.img-cci{
	max-width: 260px;	
}

@media (max-width: 991px) {
	#Partenaires img{
		margin: 18px auto !important;
	}
	
}


.presse p, .presse h3, .mentions h3{	
	text-align:center;
	margin-top : 45px;
}


#Pres div{
	background-color: #70CDD8;
	border-radius : 12px;
	padding : 10px 18px;
	margin : 20px 0 ;
}


#Pres div:nth-child(2n+1){
	background-color: #FFBC7C;
}

#menu-presta li{
	display:inline-block;
	width: 49%;
	height: 45px;
	margin-left: 0px;
	background-color:#fff;
	font-size: 1.50em;
	line-height: 1.15;
}

#menu-presta{
	margin: 20px;
}

#menu-presta a{	
	height: 100%;
	transition: 0.35s ease;
}

#menu-presta li a:hover, #menu-presta li a:focus{
	color: #fff;
	background-color: #223f62 !important;
	transition: 0.35s ease;
}
	



.menu-img-1{
	background-image :url("../img/wallpaper-ferus-1.png");
}


.img-menu{
	background-image: url("../img/presta/junior.png");
	min-height: 500px;
	min-width: 800px;
	max-width: 800px;
	font-size: 0px;
	margin:auto;
}

.img-menu a{
	display:inline-block;
	min-height: 250px;
	min-width: 400px;
}


.img-menu a:first-child:hover{
	background-image: url("../img/presta/elec.png");
}


.img-menu a:nth-child(2):hover{
	background-image: url("../img/presta/info.png");
}


.img-menu  a:nth-child(3):hover{
	background-image: url("../img/presta/managment.png");
}


.img-menu a:nth-child(4):hover{
	background-image: url("../img/presta/bio.png");
}

@media (max-width: 991px) {
	.img-menu{
		margin-left: -48px;
	}
}

@media (max-width: 650px) {
	#menu-presta li{
		display:block;
		width : 100%;
		font-size: 1.32em;;
	}
}


/**
CSS for vertical align in columns
*/
/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

.tab-about .tab-pane {
	min-height: 750px;
}
